*{
	box-sizing: border-box;
	outline: none;
}
strike{
	color: #959595;
	font-family: roboto Condensed;
	font-weight: 500;
	font-size: 16px;
}
.col-xs-1,.col-xs-5,.col-xs-6,.col-xs-4,.col-xs-11,.col-xs-2,.col-xs-10{
	padding: 0;
}
.nav .open>a:focus{
	background-color: white;
}
.nav>li>a:hover{
	background-color: white;
	color: red;
}
button:hover{
	background-color: #e9e9e9;
	color: black;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    }
nav,.logo-pc,.search,.buttonsearch,.menu-all,.menu-main,.icon-cart,footer,aside,.electric,.sup,.foot-search{
	display: none;
}
.menu-topbar{
	 margin-top: 12px;width: 10%;
}
.menu-topbar span{
	color: black;
}
.menu-topbar span i{
	font-size: 27px;
}
.logo img{
	width: 100%;
}
.icon-search{
	padding-top: 12px;
    padding-left: 5px;
}
.icon-search button{
	border: none;outline: none;background-color: white;
}
.icon-search input{
	outline: none;border: none;font-size: 9px;padding-top: 4px;
}
.img-buynow img{
	padding-top: 20px;
	width: 100%;
}
.product-images img{
 	width: 70%;
 	transition: transform 1s ease;
 }
.product-item:hover img{
 	transform: scale(1.1);
 }
.product-info{
 	transition: all 1s ease;
 }
 .product-info i{
 	font-size: 12px;
	color: #f88952;
	float: right;
	padding-right: 2px;
 }
.product-info h3{
	font-family: Roboto;color: #6a6a6a;
	font-size: 14px;
    font-weight: 600;
}
.product-info span{
	font-family: Roboto Condensed;
	font-size: 20px;
	color: #eb181e;
}
.pagi li a{
	color: #3e3e3e;
}
.pagination>.active>a{
	background-color: #eb1a21;
	border-color: #eb1a21;
}
@media only screen and (min-width: 900px){
nav,.logo-pc,.search,.buttonsearch,.menu-all,.menu-main,.icon-cart,footer,aside,.electric,.sup,.foot-search{
	display: block;
}

a:focus{
	outline: none;
}
.nav>li>a:focus, .nav>li>a:hover{
	background-color: white;
}
a:hover .menu-sidebar,a:hover .fa-chevron-right{
	color: red;
}

.menu-topbar{
	display: none;
}
.logo{
	display: none;
}
.icon-search{
	display: none;
}
.container{
	position: relative;
	max-width: 1170px;
	padding: 0;
}
.sidebar{
	max-width: 270px;
}
.col-md-8,.col-md-4,.col-md-7,.col-md-1,.col-md-3,.col-md-9,.col-md-12,.col-md-5,.col-md-10,.col-md-2{
	padding: 0;
}
.list .dropdown-menu {
	min-width: 60px;
	max-width: 73px;
	padding-right: 26px;
}
.dropdown-menu li{
	clear: right;
}
.topbar{
	height: 26px;
	margin-top: 5px;
}
.topbar li a{
	padding: 0;
	color: #464646;
}
.topbar li{
	font-family: roboto;
	font-weight: 400;
	font-size: 13px;
	float: right;
	padding-left: 20px;
    margin-left: 21px;
}
.topbar img{
	margin-bottom: 3px;
}
.phone{
	font-family: roboto;
	font-weight: bold;
	font-size: 13px;
	color: #e71f2c;
}
.call-us{
	font-family: roboto;
	font-weight: 400;
	font-size: 13px;
	padding-left: 6px;
}
.list{
	border-left: 1px solid #e9e9e9;
}
.nav a{
	color: #323232;
}
.input-search{
 	font-family: Roboto Condensed; border: none;outline: none;padding-left: 15px;
 	opacity: 0.5;letter-spacing: 0.5px;width: 200px;margin-top: 8px;
 }
 .dropdown:hover .mega-menu{
 	transform: translate(0,-10px);
 	visibility: unset;
 	opacity: 1;
 }
.dropdown .mega-menu {
	opacity: 0;
	position: absolute;
	top:50px;
	padding: 10px 0px ! important;
	width: 540px;
	border-radius: 0;
 	margin-top: 0px;
 	transition: all 0.3s ease;
 	display: inline-block;
 	visibility: hidden;
}
.mega-menu-column li a{
	font-size: 10px;
	padding: 15px 10px;
}
.mega-menu li {
	display: inline-block;
	float: left;
	font-size: 0.94rem;
	padding: 3px 0px;
		}

.mega-menu li.mega-menu-column {
	margin-right: 20px;
	width: 150px;
	}
.mega-menu .nav-header {
	padding: 0 !important;
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #ddd;
}
.mega-menu img { padding-bottom: 10px;}

.dropdown{
	position: relative;
	float: left;	
	
}
.dropdown button{
	border:none;
	outline: none;
	font-size: 17px;
	font-family: roboto;
	font-weight: 500;
	background-color: white;
	padding: 10px 20px;
}
.dropdown button a{
	color: #232323;
}
.dropdown button a:hover{
	text-decoration: none;
	color: red;
}
 .search{
 	height: 40px;
 	border: 2px solid #ed1a23;
 	margin-top: 29px;
 	margin-left: 66px;
 }
 .search .dropdown-menu{
 	max-width: 118px;
 }
 .search button{
 	color: #040404;
    background-color: white;
    border: none;
    outline: none;
    float: left;
    border-radius: 0;
 }
 .btn-allcategory:hover{
 	background-color: black;
 	color: white;
 }
 header{
 	border-top: 1px solid #e9e9e9;
 }
 .logo-pc{
 	padding-top: 22px;
 }
 .search .dropdown-toggle{
 	font-family: roboto Condensed;
 	font-size: 16px;
 	padding-top: 7px;
 	padding-bottom: 7px;
 	border-right: 1px solid #e9e9e9;
 	padding-left: 17px;
    padding-right: 17px;
 }
 .buttonsearch button{
 	margin-top: 29px;
 	background-color: #eb1a20;border: 0;
 	color: white;
 	height: 40px;
 	width: 70%;
 }
 .buttonsearch button:hover{
 	background-color: black;
 }
 .buttonsearch span{
 	color: white; font-size:17px;font-family: Roboto Condensed;font-weight: 700;font-size: 18px;letter-spacing: 1px;
 }
 .icon-cart{
 	width: 7%;
 	margin-left: -51px;
 	padding: 32px;
 	position: relative;
 }
 .icon-cart .dropdown-menu{
 	opacity: 0;
 	position: absolute;
 	left: -80px;
 	display: inline-block;
 	visibility: hidden;
 	transition: all 0.3s ease;
 }
 .open .dropdown-menu{
 	opacity: 1;
 	transform: translate(0,-5px);
 	visibility: unset;
 }
 .icon-cart .no-item{
 	font-size: 20px;
 	opacity: 0.5;
 	font-weight: 700;
 	text-align: center;
 	padding: 10px;
 }
 .count{
 	position: absolute;
    right: 0;
    top: 26px;
    height: 16px;
    width: 16px;
    background-color: #ea1a27;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 12px;
 }
 .logo-pc,.buttonsearch,.icon-cart{
 	height: 99px;
 }
 .menu-all{
 	width: 23.076%;
 }
 .menu-all button{
 	width: 100%;
 	height: 100%;
 	background-color: #e4171c;
 	color: white;
    border: none;
    outline: none
 }
.menu-all button p{
	padding-top: 13px;
}
.menu-all button p img{
	padding-right: 13px;
    margin-left: -60px;
    margin-top: -7px;
}
.menu-all button p span{
	font-family: roboto;
	font-weight: bold;
	font-size: 18px;
}

 .menu-main li a{
 	font-family: roboto;
	font-weight: 500;
 }
 .menu-main .link-home{
 	margin-left: 20px;
 }
 .menu-line{
 	border-top: 2px solid #e4171c;
 	font-family: roboto;
 	font-size: 15px;
 }
 .btn-category {
 	margin-top: 10px;
 	width: 270px;
 }
 .btn-category li{
 	background-color: white;
 	padding: 10px 0;
 }
 .breadcrumb{
 	padding: 14px 15px 13px 15px;
    margin-bottom: 0px;
    background-color: white;
 }
 .breadcrumb li{
 	margin-right: 10px;
 }
 .breadcrumb a{
 	color: #242424;
 }
 .breadcrumb a:hover{
 	text-decoration: none;
 	color: red;
 }
 .breadcrumb li+li:before{
 	content: "";
 }
 .menu-line li .link1{
 	margin-left: -14px;
 }
 .menu-right1,.menu-right2,.menu-right3{
 	border: 1px solid #e9e9e9;
 }
 .top-menu{
 	padding: 30px 0 0 22px;
 	font-family: roboto;
 	font-size: 18px;
 	font-weight: bold;
 }
 .menu-right1 ul li{
 	font-family: roboto;
 	font-size: 16px;
 	margin-left: 9px;
 }
 .menu-right1 i{
 	font-size: 10px;
 	color: #707070;
 }
 .menu-right1 span{
 	color: #707070;
 }
 .menu-right2{
 	margin-top: 30px;
 }
 .menu-right2 ul li{
 	margin-left: 9px;
 }
 .menu-right2 ul li span{
 	font-family: roboto;
 	font-size: 16px;
 	color:#707070;
 }
 .menu-right3{
 	margin-top: 30px;
 }
 #slider-3{
 	border: none; height: 5px;border-radius: 0;background:none; ;background-color: #d5d5d5;
 }
 .range-p{
 	color: #6c6c6c;font-family: roboto Condensed; font-weight:400;font-size: 17px;padding-top: 20px;
 }
 .range-p label{
 	font-weight: 400;
 }
 .range-p input{
 	border:0;
 }
 .ui-slider .ui-slider-handle{
 	border-radius: 50%;
 	width: 15px;
 	height: 15px;
 	cursor: pointer;
 	background:none;
 	background-color: #e21a1d;
 	border: none;
 	outline: none;
 }
 .ui-slider-range{
 	background: none;
 	background-color: #e21a1d;
 	border: none;
 }
 input[type="checkbox"]{
 	opacity: 0;

 }
 .check-mark {

    position: absolute;
    top: 15px;
    left: 21px;
    height: 12px;
    width: 12px;
    border: 1px solid #e9e9e9;
    background-color: white;
}
input:checked ~ .check-mark:after {
   content: "\2713";
   position: absolute;
   top: -6px;
   left: 0;
}

 .custom-input{
 	position: relative;
 	font-family: roboto;
 	font-size: 16px;
 	font-weight: 400;
 	color: #8e8e8e;
 	display: block;
 	padding: 10px 10px 5px 23px;
 	cursor: pointer;
 }
 .check1{
 	position: relative;
 	font-family: roboto;
 	font-size: 16px;
 	font-weight: 400;
 	color: #8e8e8e;
 	display: block;
 	padding: 10px 10px 5px 26px;
 	cursor: pointer;
 }
 .ellipse{
 	height: 82px;
 	margin-left: 22px;
 	margin-right: 24px;
 	border-bottom: 1px solid #e9e9e9;
 }

 .img-color{
 	margin-left: 19px;
 	height: 91px;
 	border-bottom: 1px solid #e9e9e9;
 }
 .img-color,.color{
 	float: left;
 	padding: 3px;
 }
 .color8{
 	clear: left;
 }
 .sale{
 	margin-top: 30px;
 }
 .electric{
 	height: 48px;margin-top: 56px;border-bottom: 1px solid #e9e9e9;
 	    margin-left: 13px;
 }
 .elec{
 	width: 15.2%;
 	font-family: roboto;
 	font-size: 24px;
 	font-weight: 500;
 	border-bottom: 3px solid #e3161b;
 	padding: 5px 5px 5px 10px;
 }
 .show{
 	font-family: roboto;
 	font-size: 15px;
 	padding-left: 418px;
 	float: right;
 }
 .show a{
 	text-decoration: none;
 }
 .show span{
 	color: #272727;
 	margin-right: 20px;
 }
 .show img{
 	border: 1px solid #e9e9e9;
 	padding: 7px;
 	margin: 3px;
 }
 .banner{
 	padding-left: 10px;
 }
 .img-buynow img{
	padding-top: 0;
	width: 100%;
}
.img-buynow figure {
    position: relative;
}
.img-buynow figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.img-buynow figure:hover::before {
    -webkit-animation: shine 1s;
    animation: shine 1s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
 .content{
 	float: right;
 }
 .product-item{
 	position: relative;
 	padding: 35px 20px 0 20px;
 }
 .product-item:hover .add-to-cart i{
 	color: white;
 	opacity: 1;
 	transform: translate(30px,0);
 }
 .product-item .add-to-cart i{
 	opacity: 0;
 	position: absolute;
 	bottom: 80px;
    left: 0;
 	font-size: 15px;
 	background:#777;
 	transition: all 0.5s ease;
 	border: 7px solid #777;
    border-radius: 4px;
 }
 .product-item .add-to-cart i:hover{
 	background-color: red;
 	border-color: red;
 }
 .product-item .add-to-cart span{
 	display: none;
 	font-size: 14px;
 	opacity: 0;
 	transition: all 0.5s ease;
 	padding-left: 10px;
 }
 .product-item .add-to-cart:hover span{
 	display: inline-block;
 	opacity: 1;
 }
 .product-images{
 	overflow: hidden;
 }
 .product-images img{
 	width: 100%;
 	transition: transform 1s ease;
 }
 .product-item:hover img{
 	transform: scale(1.1);
 }
 .product-info{
 	transition: all 1s ease;
 }
 .product-info a:hover{
 	text-decoration:none;
 }
  .product-info:hover h3{
 	color: red;
 }

 .product-info i{
 	font-size: 12px;
	color: #f88952;
	float: right;
	padding-right: 2px;
	padding-top: 7px;
 }
.product-info h3{
	font-family: Roboto;color: #2e2e2e;
	font-size: 14px;
    font-weight: 600;
}
.product-info span{
	font-family: Roboto Condensed;
	font-weight: 500;
	font-size: 20px;
	color: #eb181e;
}
.pagi{
	display: inline-block;
	margin: 20px 0 80px 200px;
}
.pagi li a{
	margin-right: 7px;
	color: #3e3e3e;
}
.pagination>.active>a{
	background-color: #eb1a21;
	border-color: #eb1a21;
}
.pagination li{
	display: inline-block;
}
.sup{
 	height: 223px;
 	background-color: #eb1a20;
 }
.text-top{
	padding-top: 20px;
	font-size: 14px;
	color: white;
}
.text-bot{
	opacity: 0.7;
	font-family: roboto;
	font-weight: 300;
	color: white;
	font-size: 11px;
}
.sup img{
	display: block;
    margin: 0 auto;
}
.sup-red1,.sup-red2,.sup-red3,.sup-red4{
	margin-top: 50px;
	height: 115px;
}
.sup-red1,.sup-red2,.sup-red3{
	border-right: 1px solid #f15e68;
}
.text-top,.text-bot{
	text-align: center;
}

.foot-search{
	height: 118px;
	background-color: #ececec;
}
.foot-search i{
	background-color: #eb1a20;
	color: white;
	font-size: 34px;
}
.letter{
	float: left;
	width: 71px;
	height: 71px;
	border-radius: 50%;
	background-color: #eb1a20;
}
.letter i{
	margin: 20px;
}
.sign-up{
	padding-top: 30px;
}
.sign-up .sign{
	font-family: roboto;
	color: black;
	font-size: 18px;
}
.sign:hover{
	text-decoration: none;
	color: red;
}
.sign-up .get-text{
	font-family: roboto;
	font-size: 14px;
}
.text-letter{
	padding: 14px 0 0 83px;
}
.input-mail{
float: left;
padding-top: 47px;
}
.input-mail input{
	float: left;
	background-color: white;
	font-family: roboto;
	width: 270px;
	height: 38px;
	border-radius: 0;
	border:2px solid #eb1a20;
}
.input-mail button{
	font-family: roboto Condensed;
	font-size: 14px;
	color: white;
	font-weight: 700;
	border: none;
	background-color: #eb1a20;
	float: left;
	width: 90px;
	height: 38px;
}
.input-mail button:hover{
	background-color: black;
}
.foot-info{
	height: 293px;
	background-color:#f7f7f7; 
}
.foot-info li{
	padding-top: 10px;
}
.infor1,.infor2,.infor3,.infor4{
	font-family: roboto;
	padding-top: 40px;
}
.infor1 li,.infor2 li,.infor3 li{
list-style-type: unset;
font-family: roboto;
font-size: 14px;
font-weight: 400;
color: #626262;
}
.infor1 li a:hover,.infor2 li a:hover,.infor3 li a:hover{
	text-decoration: none;
	color: red;
}
.infor1 li a,.infor2 li a,.infor3 li a{
color: #626262;
}
.infor4 li{
font-family: roboto;
font-size: 14px;
font-weight: 400;
color: #626262;
}
.infor4 span{
	padding-left: 15px;
}
.infor1 p,.infor2 p,.infor3 p,.infor4 p{
	font-weight: 700;
	font-size: 20px;
}
.copy{
	height: 60px;
	background-color: #2b2b2b;
}
.copy p{
	padding-left: 5px;
	padding-top: 20px;
	color: white;
}
.icon-inter{
	text-align: center;
	padding-top: 45px;
}
.icon-all{
	padding-left: 155px;
}
.icon-fun-tw,.icon-fun-face,.icon-fun-insta,.icon-fun-youtube{
	cursor: pointer;
	padding-top: 11px;
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 10px;
}
.icon-fun-tw{
	background-color: #1ea3f0;
}
.icon-fun-face{
	background-color: #3b5997;
}
.icon-fun-youtube{
	background-color: #e12b28;
}
.icon-fun-insta{
	background-color: #a3349d;
}
.icon-inter .twits{
	background-color: #1ea3f0;
	color: white;
	font-size:20px;
}
.icon-inter .face{
	background-color: #3b5997;
	color: white;
	font-size:20px;
}
.icon-inter .insta{
	background-color: #a3349d;
	color: white;
	font-size:20px;
}
.icon-inter .youtube{
	background-color:#e12b28 ;
	color: white;
	font-size:20px;
}
}